.nav-header{
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
    background-color: rgb(241, 237, 237);
}
#navbar{
    margin-bottom: 30px;
}
.row{
    margin: 0 150px;
    margin-bottom: 20px;
}
.menu-list{
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.logo{
    font-weight: 600;
    font-size: 20px;
}
.menu-list a{
    text-decoration: none;
    color: grey;
}
.menu-list a:hover{
    color: black;
    font-weight: 500;
}
.carousel-inner{
    width: auto;
    height: auto;
}

